body {
  margin: 0 auto;
}

.App {
  margin: 80px;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: top-start;
  font-size: calc(2px + 2vmin);
  text-align: left;
  color: black;
}

.text-component {
  width: 600px;
}

.App-body {
  margin-top: 50px;
  width: 100%;
  height: 1000px;
  outline: double black;
  border-radius: 30px;
}

.App-body div {
  margin: 50px;
}
